{% extends 'emails/layout.html.twig' %}

{% block  body %}
    <h2 class="bg-primary"> Une nouvelle Série a été ajouté</h2>

    <a href="http://localhost:8000/program/{{ slug }}">Lien nouvelle série </a>
{% endblock %}

